	
    <canvas id="graphCanvas" height=450 width=900 canvas drop="handleDrop" bin="bin" id="bin"></canvas>


    <div style="float:right">
    	
    <div class="item rect" id="rect"   item="item" draggable="true" > 
	</div>
	<br>

	<div class="item circle" id="circle"   item="item"  draggable="true">
	</div>
	<br>

	<span draggable="true" class="text-data" id="text" >some text here</span>

    </div>



 <style type="text/css">
 	
/*#canvas{
  border-bottom: 1px solid rgba(0,0,0,0.3); 
  background-color: #123;
  box-shadow: 0 9px 20px -5px rgba(0,0,0,0.8);
}*/
#graphCanvas {
    border:1px solid red;
}
 </style>